

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
.encabezado {
    width: 100%;
    background-color: #1a3d7c;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #d4af37;
    
}

.encabezado h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

.encabezado p {
    font-style: italic;
    margin-top: 10px;
}

.encabezado img {
    border-radius: 50%;
    border: 3px solid white;
}


/* Girar la imagen*/
.encabezado img:hover{
    transform: rotate(360deg);
    transition: transform 0.3s;
}


/* Navegación */
.menu {
    background-color: #2c5282;
    width: 100%;
    justify-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;

}

.menu  li {
      padding: 10px 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #d4af37;
    color: #1a3d7c;
}
